{% extends 'base.html' %}
{% block body %} 
    <div class="container-fluid">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img height="500" width="600" src="/static/sport1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img height="500" width="600" src="/static/sport2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img height="500" width="600" src="/static/sport3.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
      </div>

    <section id="about-part" class="pt-0 mt-3 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8"><br>
                    <div class="section-title mt-50">
                        <h5><u>Activities</u></h5>
                        <h3>Sport Activities</h3>
                    </div> <!-- section title -->
                    <div class="about-cont">
                        <p align="justify">
                            Games and sports play a vital role in the physical development of a student, it is said that "A healthy mind dwells in a healthy body", therefore here in Sun Shine ample amount of opportunity is given to the students to keep themselves physically sound in order to pursue the scholastic aim.
                            The school provides a wide range sports materials in Cricket, Football discuss, Jablin-throw and many indoor and outdoor games for the students assisted by a qualified PTI. The curriculum of the school is planned in such a way that the student get chance to participate on Sports day on a large scale through inter house competitions held every year.
                        </p>
                    </div>
                </div> <!-- about cont -->

                <div class="col-lg-4"><br>
                    <div class="section-title mt-50">
                            <h5><u>Sport Activity</u></h5>
                            <h3>Watch Video</h3>
                        </div> <!-- event title -->
                    <div class="about-cont">
                    <p><iframe width="100%" height="180" src="https://www.youtube.com/embed/dz_c3p7-kso" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>   </div>
                    </div> <!-- about event -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
{% endblock body %}